# coding: utf-8

"""
    trustshare API

    Welcome to the trustshare API Reference documentation. Here you can find detailed information about the endpoints we provide as well as the shape of entities within the system.  # Environments The trustshare API has two environments, __Sandbox__ and __Live__. Both environments are available under the same endpoint however API Keys and client secrets are prefixed with the environment name. - A __Sandbox__ API Key will be in the format: `sandbox_api_[0-9a-z]`. - A __Live__ API Key will be in the format: `live_api_[0-9a-z]`.  ## Sandbox Our __Sandbox__ environment endeavours to be as close to the __Live__ environment as possible, however, there are a couple of limitations and features which should be noted. - Card payments take around 7 days to settle into accounts. In __Live__ this is generally closer to 2 days. - Manual inbound payments can only be \"faked\" in __Sandbox__ when they are less-than or equal-to `250,000.00`. - Open Banking in __Sandbox__ will always use a \"Mock Bank\" UI to accept the payment.  # noqa: E501

    OpenAPI spec version: 1.0.23
    Contact: support@trustshare.co
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PaymentIntentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def cancel_intent(self, authorization, id, **kwargs):  # noqa: E501
        """Cancel an Intent  # noqa: E501

        Used to cancel an intent that has not yet finalised, i.e. it has an `unconfirmed` status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_intent(authorization, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Your API Key in the format `[sandbox|live]_api_[0-9a-z]`. (required)
        :param str id: A unique ID for the payment intent.  A string in the format `intent_[0-9a-z]`. (required)
        :return: Intent
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.cancel_intent_with_http_info(authorization, id, **kwargs)  # noqa: E501
        else:
            (data) = self.cancel_intent_with_http_info(authorization, id, **kwargs)  # noqa: E501
            return data

    def cancel_intent_with_http_info(self, authorization, id, **kwargs):  # noqa: E501
        """Cancel an Intent  # noqa: E501

        Used to cancel an intent that has not yet finalised, i.e. it has an `unconfirmed` status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_intent_with_http_info(authorization, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Your API Key in the format `[sandbox|live]_api_[0-9a-z]`. (required)
        :param str id: A unique ID for the payment intent.  A string in the format `intent_[0-9a-z]`. (required)
        :return: Intent
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method cancel_intent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `cancel_intent`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `cancel_intent`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/intent/{id}/cancel', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Intent',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def confirm_payment_intent(self, body, authorization, id, **kwargs):  # noqa: E501
        """Confirm a Payment Intent  # noqa: E501

        In certain cases you may be able to confirm a payment intent from your backend system and not require a user to go through a checkout UI process.  Confirming a payment intent from the API requires a `session_id` to be provided which refers to a session from a [Setup Intent](/resources/setup-intents), that has not already expired.  <Note>   You can only confirm `invoice` payment intents via the API. </Note>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_payment_intent(body, authorization, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IdConfirmBody body: (required)
        :param str authorization: Your API Key in the format `[sandbox|live]_api_[0-9a-z]`. (required)
        :param str id: A unique ID of an existing intent that needs to be confirmed.  A string in the format: `intent_[0-9a-z]` (required)
        :return: Confirmation
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.confirm_payment_intent_with_http_info(body, authorization, id, **kwargs)  # noqa: E501
        else:
            (data) = self.confirm_payment_intent_with_http_info(body, authorization, id, **kwargs)  # noqa: E501
            return data

    def confirm_payment_intent_with_http_info(self, body, authorization, id, **kwargs):  # noqa: E501
        """Confirm a Payment Intent  # noqa: E501

        In certain cases you may be able to confirm a payment intent from your backend system and not require a user to go through a checkout UI process.  Confirming a payment intent from the API requires a `session_id` to be provided which refers to a session from a [Setup Intent](/resources/setup-intents), that has not already expired.  <Note>   You can only confirm `invoice` payment intents via the API. </Note>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_payment_intent_with_http_info(body, authorization, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IdConfirmBody body: (required)
        :param str authorization: Your API Key in the format `[sandbox|live]_api_[0-9a-z]`. (required)
        :param str id: A unique ID of an existing intent that needs to be confirmed.  A string in the format: `intent_[0-9a-z]` (required)
        :return: Confirmation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method confirm_payment_intent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `confirm_payment_intent`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `confirm_payment_intent`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `confirm_payment_intent`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/intent/{id}/confirm', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Confirmation',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_payment_intent(self, body, authorization, **kwargs):  # noqa: E501
        """Create a Payment Intent  # noqa: E501

        A payment intent describes a participants intention to fund a project account. We currently support 3 different types of Payment Intent:  - A `checkout` Payment Intent is consumed as soon as a Participant   clicks \"Pay Now\" on the Checkout UI. It therefore, can not be re-used. - A `payment_link` Payment Intent is consumed and can be re-used if it does   not include a `from` Participant. - An `invoice` Payment Intent, although still requiring confirmation of a user,   will not take them through a UI driven process. On confirmation of an   invoice Payment Intent, a new invoice will be provisioned.  <div className=\"not-prose\">   <Button href=\"#create-a-payment-intent-attributes\" variant=\"text\" arrow=\"right\">     See the available attributes   </Button> </div>  ### With or without a defined buyer  A buyer can optionally be provided at the creation of an intent. If no buyer is provided, the user confirming the intent will be asked to provide their email address and a new participant will be created in the system.  At a minimum, when a buyer participant is provided, we require just the email address. However, you can also provide a name and an address which will be used in the UI to further personalise the buyer's experience.  ### Include inline fees  Fees can be applied to a payment intent to charge a buyer at successful completion of a checkout.  Fees can also be applied to a settlement to charge a seller at each successful release from a settlement. You can provide both an optional flat fee and an optional percentage fee to charge. The percentage fee must be provided to the __API__ as a fraction, ie. a fee of `1.5%` is provided to the __API__ as `0.015`.  <Note>   Fees are always calculated as: (`total` * `fee_percentage`) + `fee_flat` </Note>  ### Targeting an existing project  At creation, an intent can optionally be targeted at an existing project. This is useful if you wish to provision a project account up front, or if you need to collect more funds in the event of a discrepancy. You can find more information about how projects relate to the rest of the system by referencing our [Projects](/resources/projects) page.  <Note>   You may not need projects for your use-case. However, every checkout   is backed by an under-lying project account. </Note>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_payment_intent(body, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IntentsPaymentBody body: (required)
        :param str authorization: Your API Key in the format `[sandbox|live]_api_[0-9a-z]`. (required)
        :return: DepositIntent
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_payment_intent_with_http_info(body, authorization, **kwargs)  # noqa: E501
        else:
            (data) = self.create_payment_intent_with_http_info(body, authorization, **kwargs)  # noqa: E501
            return data

    def create_payment_intent_with_http_info(self, body, authorization, **kwargs):  # noqa: E501
        """Create a Payment Intent  # noqa: E501

        A payment intent describes a participants intention to fund a project account. We currently support 3 different types of Payment Intent:  - A `checkout` Payment Intent is consumed as soon as a Participant   clicks \"Pay Now\" on the Checkout UI. It therefore, can not be re-used. - A `payment_link` Payment Intent is consumed and can be re-used if it does   not include a `from` Participant. - An `invoice` Payment Intent, although still requiring confirmation of a user,   will not take them through a UI driven process. On confirmation of an   invoice Payment Intent, a new invoice will be provisioned.  <div className=\"not-prose\">   <Button href=\"#create-a-payment-intent-attributes\" variant=\"text\" arrow=\"right\">     See the available attributes   </Button> </div>  ### With or without a defined buyer  A buyer can optionally be provided at the creation of an intent. If no buyer is provided, the user confirming the intent will be asked to provide their email address and a new participant will be created in the system.  At a minimum, when a buyer participant is provided, we require just the email address. However, you can also provide a name and an address which will be used in the UI to further personalise the buyer's experience.  ### Include inline fees  Fees can be applied to a payment intent to charge a buyer at successful completion of a checkout.  Fees can also be applied to a settlement to charge a seller at each successful release from a settlement. You can provide both an optional flat fee and an optional percentage fee to charge. The percentage fee must be provided to the __API__ as a fraction, ie. a fee of `1.5%` is provided to the __API__ as `0.015`.  <Note>   Fees are always calculated as: (`total` * `fee_percentage`) + `fee_flat` </Note>  ### Targeting an existing project  At creation, an intent can optionally be targeted at an existing project. This is useful if you wish to provision a project account up front, or if you need to collect more funds in the event of a discrepancy. You can find more information about how projects relate to the rest of the system by referencing our [Projects](/resources/projects) page.  <Note>   You may not need projects for your use-case. However, every checkout   is backed by an under-lying project account. </Note>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_payment_intent_with_http_info(body, authorization, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IntentsPaymentBody body: (required)
        :param str authorization: Your API Key in the format `[sandbox|live]_api_[0-9a-z]`. (required)
        :return: DepositIntent
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'authorization']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_payment_intent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_payment_intent`")  # noqa: E501
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `create_payment_intent`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/intents/payment', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DepositIntent',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_intent(self, authorization, id, **kwargs):  # noqa: E501
        """Get an Intent  # noqa: E501

        Retrieve an existing intent.  This endpoint is polymorphic and will return any intent type, including both [Payment Intents](/resources/payment-intents) and [Setup Intents](/resources/setup-intents).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intent(authorization, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Your API Key in the format `[sandbox|live]_api_[0-9a-z]`. (required)
        :param str id: A unique ID of an existing intent.  A string in the format: `intent_[0-9a-z]` (required)
        :return: Intent
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_intent_with_http_info(authorization, id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_intent_with_http_info(authorization, id, **kwargs)  # noqa: E501
            return data

    def get_intent_with_http_info(self, authorization, id, **kwargs):  # noqa: E501
        """Get an Intent  # noqa: E501

        Retrieve an existing intent.  This endpoint is polymorphic and will return any intent type, including both [Payment Intents](/resources/payment-intents) and [Setup Intents](/resources/setup-intents).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_intent_with_http_info(authorization, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str authorization: Your API Key in the format `[sandbox|live]_api_[0-9a-z]`. (required)
        :param str id: A unique ID of an existing intent.  A string in the format: `intent_[0-9a-z]` (required)
        :return: Intent
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['authorization', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_intent" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'authorization' is set
        if ('authorization' not in params or
                params['authorization'] is None):
            raise ValueError("Missing the required parameter `authorization` when calling `get_intent`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_intent`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v1/intent/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Intent',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
